/**
 * home - project list
 */
.hot-widget {
/*  margin: 10px 0px 0 0px;*/
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
}

.hot-widget .header {
  padding: 15px 15px 15px 15px;
  font-size: var(--vt-font-size-base);
  font-weight: bold;
  margin: 0 !important;
}

.hot-widget .header .title {
  font-size: var(--vt-font-size-base);
  font-weight: bold;
}

.hot-widget .header a {
  font-weight: normal;
}

.hot-widget .body {
  width: 100%;
  overflow: scroll;
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
}

.hot-widget .body::-webkit-scrollbar {
  display: none;
}

.hot-widget .body .hot-list {
  margin-right: -15px;
  margin-top: 0px;
  display: flex;
  padding: 0 2px;
}

.hot-list .hot-item {
  width: calc(45% - 10px);
  margin-right: 10px;
  flex: 0 0 auto;
  position: relative;
  border-radius: var(--vt-border-radius);
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.hot-item .hot-thumbnail {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  background-color: var(--vt-bg-color-grey);
}

.hot-item .hot-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--vt-border-radius);
}

.hot-item .hot-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .hot-widget {
    width: 100%;
    margin: 0px auto 0 auto;
  }
  .hot-list .hot-item {
    width: calc(20% - 15px);
    margin-right: 15px;
  }
}
.media-widget {
  margin-top: 10px;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}

@media only screen and (min-width: 900px) {
  .media-widget {
    margin-top: 20px;
  }
}


.main-container.hot .main-widget{}
@media only screen and (min-width: 900px) {
  .main-container.hot .main-widget{
    width: 100%;
  }
}
