.articles-widget {
  overflow: hidden;
}

.articles-widget::after {
  content: "";
  display: block;
  clear: both;
}

.articles-widget .vt-card-item{
  margin: 8px 0;
}

.articles-list .vt-card-item:nth-child(1) {
  margin-top: 0px !important;
}
.articles-list .vt-card-item:last-child {
  margin-bottom: 0px !important;
}

@media only screen and (min-width: 900px) {
 /* .articles-widget {
    margin: 20px 0 0 0;
  }*/
  .articles-widget .vt-card-item{
    margin: 15px 0;
  }
}
