/******************************************************************************
 * single.php
 */

.article-widget {
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
}

.article-widget .article-title {
  line-height: 28px;
  font-size: var(--vt-font-size-lg);
  font-weight: 600;
  color: var(--vt-text-color);
}

.article-widget .article-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--vt-text-color-grey);
  margin: 10px 0 10px 0;
  height: 60px;
  border-bottom: 1px solid var(--vt-border-color);
}

.article-meta a {
  color: var(--vt-text-color-grey);
  font-size: 13px;
}

.article-meta i {
  font-size: 16px;
  margin: 0 2px 0 0;
}

.article-meta .meta {
  display: flex;
  font-size: 13px;
  align-items: center;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 20px;
}

.article-meta .meta.author {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.article-meta .meta.author img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: 0 1px 3px var(--vt-shadow-color);
  object-fit: cover;
  position: relative;
  top: -1px;
}

.article-meta .meta.author span {
  padding-left: 5px;
}

.copyright-content {
  padding: 10px;
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
  border-radius: var(--vt-border-radius);
  margin-top: 20px;
  background-color: var(--vt-bg-color);
}

.copyright-content i {
  display: inline-block;
  transform: scale(1.35);
  position: relative;
  /* top: 1px; */
}

.dark-mode pre {
  line-height: 18px;
  font-size: 13px !important;
  background-color: var(--vt-bg-color) !important;
  border-color: var(--vt-bg-color) !important;
  padding: 12px;
  margin: 5px 0;
  color: var(--vt-text-color);
  border-radius: var(--vt-border-radius);
}


/**
 * 文章内页分类和标签
 */
.tags-widget{
  margin: 20px 0 0px 0;
  display: flex;
  flex-wrap: wrap;
}
.tags-widget .icon{
  font-size:18px;
  color: var(--vt-text-color-grey);
  margin-right: 8px;
  position: relative;
  /* top: -2px; */
}
.tags-widget .tag-item{
  margin: 0 8px 8px 0;
}
.tags-widget .tag-item a{
  display: block;
  padding: 0px 10px;
  line-height: 25px;
  background-color: var(--vt-bg-color-grey);
  color: var(--vt-text-color-grey);
  font-size: var(--vt-font-size-sm);
  border-radius: 10px;
}


/**
 * 文章上一篇和下一篇导航
 */
.article-prev-next-nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
  margin: 10px 0px;
}

.article-prev-next-nav .article-nav {
  flex: 0 0 calc(50% - 5px);
  display: block;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.article-nav.next-nav .arrow-icon {
  text-align: right;
}

.article-nav .arrow-icon i {
  position: relative;
  top: 1px;
}

.article-nav .article-link {
  height: 40px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0px 0px 10px;
  font-size: 15px;
}

.article-nav .article-link a {
  font-size: 15px;
  cursor: pointer;
}

.article-nav.next-nav {
  text-align: right;
}

@media only screen and (min-width: 900px) {
  .article-prev-next-nav {
    margin: 20px 0px;
  }
  .article-prev-next-nav .article-nav {
    flex: 0 0 calc(50% - 10px);
  }
}


/**
 * TOC 目录
 */
.toc-widget{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--vt-border-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}
.toc-header{
  display: flex;
  justify-content: space-between;
}
.toc-button{
  font-size:13px;
  color: var(--vt-text-color-grey);
  cursor: pointer;
}
.toc-button span:first-child{ display:block; }
.toc-button span:last-child{ display:none; }
.toc-widget.show .toc-button span:first-child{ display:none; }
.toc-widget.show .toc-button span:last-child{ display:block; }

ul.toc_list{
  padding: 0;
}
ul.toc_list li{
  list-style: none;
  padding: 2px 0;
}
ul.toc_list li a{
  font-size:14px;
  color: var(--vt-text-color);
}
ul.toc_list .level-3 a{ padding:0 0 0 30px; }
ul.toc_list .level-4 a{ padding:0 0 0 50px; }
ul.toc_list .level-5 a{ padding:0 0 0 70px; }
ul.toc_list .level-6 a{ padding:0 0 0 90px; }

.toc-body {
  display:none;
  margin: 10px 0 0 0;
  padding:10px 0;
  border-top: 1px solid var(--vt-border-color);
}
.show .toc-body { display:block; }

@media only screen and (min-width:900px){
  .toc-widget{
    max-width: 500px;
  }
}
