/**
 * 通用文章卡片 20250209, 20250218
 *
 * @author vthemecn <mail@vtheme.cn>
 * @link https://vtheme.cn
 */

/* 基础文章卡片样式 */
.vt-card-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 3px 0 var(--vt-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.vt-card-item:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0 0 3px 0 var(--vt-shadow-color);
}

/* 图片区域 - 移动端样式 */
.vt-card-thumbnail {
  flex: 0 0 auto;
  width: 120px;
  height: auto;
  overflow: hidden;
  border-radius: var(--vt-border-radius);
  position: relative;
  margin: 0 12px 0 0;
  align-self: flex-start;
  /* outline: 1px solid green; */
}

.vt-card-thumbnail a{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 68%;
  background-color: var(--vt-bg-color-grey) 
}

.vt-card-thumbnail a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.vt-card-item:hover .vt-card-thumbnail img {
  transform: scale(1.05);
}

/* 缩略图上的 badget· */
.vt-card-thumbnail .vt-card-badget-widget{
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
}
.vt-card-thumbnail .vt-card-badget{
  padding: 3px 5px;
  background-color: var(--vt-bg-color-mask);
  color: #fff;
  font-size: 12px;
  border-radius: var(--vt-border-radius);
}
.vt-card-thumbnail .vt-card-badget.vip{
  background-color: rgba(247, 195, 46, 0.75);
  color: rgb(149, 0, 0);
}
.vt-card-thumbnail .vt-card-badget.sticky{
  background-color: var(--vt-color-danger);
  color: var(--vt-text-color-inverse);
}

/* 内容区域 */
.vt-card-body {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.vt-card-title {
  margin: 0 0 12px 0;
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
}

.vt-card-title a {
  color: var(--vt-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-card-title a:hover {
  color: var(--vt-color-primary);
}

.vt-card-meta {
  margin-bottom: 10px;
  margin-top: auto;
  font-size: 14px;
  color: var(--vt-text-color-grey);
  display: flex;
  overflow-x: scroll;
}

.vt-card-tag {
  flex: 0 0 auto;
  display: inline-block;
  padding: 2px 5px;
  margin: 0 7px 0 0;
  background-color: var(--vt-bg-color-grey);
  color: var(--vt-text-color-grey);
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.vt-card-tag:first-child{ background-color:rgba(41, 151, 247, 0.1); color: rgb(41, 151, 247); }
.vt-card-tag:nth-child(2){ background-color:rgb(255, 160, 0, 0.1); color: rgb(255, 160, 0); }
.vt-card-tag:nth-child(3){ background-color:rgba(18, 185, 40, 0.1); color: rgb(24, 165, 42); }
.vt-card-tag:nth-child(4){ background-color:rgba(213, 72, 245, 0.1); color: rgb(228, 52, 225); }
.vt-card-tag:nth-child(5){ background-color:rgba(255, 84, 115, 0.1); color: rgb(255, 84, 115); }

.vt-card-tag:hover {
  /* background-color: var(--vt-color-primary);
  color: var(--vt-text-color-inverse);
  text-decoration: none; */
  filter: brightness(120%);
}

.vt-card-excerpt {
  margin-bottom: 15px;
  color: var(--vt-text-color-grey);
  line-height: 1.6;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  font-size: 13px;
  color: var(--vt-text-color-grey);
}

.vt-card-footer a{
  font-size: 12px;
  color: var(--vt-text-color-grey);
}

.vt-card-footer i{ margin:0 5px 0 0; }

.vt-card-author {
  display: flex;
  align-items: center;
}
.vt-card-author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.vt-card-author span{
  display: inline-block !important;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 5px;
}

.vt-card-time {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}

.vt-card-stats {
  display: flex;
  margin-left: auto;
}

.vt-user-post-stat-item {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}


/*****************************************************************************/
/* 平板端样式增强 */
@media (min-width: 481px) {
  .vt-card-item {
    padding: 20px;
  }
  .vt-card-item .vt-card-thumbnail {
    margin: 0 18px 0 0;
  }
}

/*****************************************************************************/

/* 桌面端样式增强 - 水平布局 */
@media (min-width: 769px) {
  .vt-card-item {
    flex-direction: row;
  }
  
  .vt-card-thumbnail {
    width: 220px;
  }
  
  .vt-card-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*****************************************************************************/

/**
 * 窄屏模式，隐藏某些元素
 */
.vt-card-item .vt-card-meta,
.vt-card-item .vt-card-time,
.vt-card-item .vt-user-post-stat-item:nth-child(2),
.vt-card-item .vt-user-post-stat-item:nth-child(3),
.vt-card-item .vt-card-excerpt{
  display: none;
}
 
@media (min-width: 481px) {
  .vt-card-item .vt-card-meta,
  .vt-card-item .vt-card-author span,
  .vt-card-item .vt-user-post-stat-item:nth-child(2),
  .vt-card-item .vt-user-post-stat-item:nth-child(3){
    display: flex;
  }
  .vt-card-item .vt-card-excerpt{
    display: none;
  }
  .vt-card-item .vt-card-time{
    display: none;
  }
}

@media (min-width: 769px) { 
  .vt-card-item .vt-card-excerpt{
    display: -webkit-box;
  }
  .vt-card-item .vt-card-time{
    display: flex;
  }
}
 

/*****************************************************************************/

/**
 * 卡片样式
 */
.vt-column .vt-card-item{
  flex-direction: column;
}
.vt-column .vt-card-item .vt-card-thumbnail {
  width: 100%;
}
.vt-column .vt-card-item .vt-card-body{
  margin: 10px 0 0 0;
}

/**
 * 窄屏卡片
 */
.vt-column .vt-card-item .vt-card-time{
  display: none;
}
  
@media (min-width: 481px) {

}


/*****************************************************************************/


/**
 * 样式覆盖
 */
 .vt-card-item.vt-no-border{
  border: none;
}
 