/*
* 文章列表样式
*/
.media-list {
  box-sizing: border-box;
  margin: 0px 0px 0px 0;
}

@media only screen and (min-width: 900px) {

}



/*
  * 样式覆盖
  */

/* 平板端样式增强 */
@media (min-width: 769px) {
  .media-list.vt-column{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -10px;
  }
  .vt-column.vt-column-2 .vt-card-item{
    width: calc(50% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-3 .vt-card-item{
    width: calc(33.33% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-4 .vt-card-item{
    width: calc(25% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-5 .vt-card-item{
    width: calc(20% - 10px);
    margin:0 10px 10px 0;
  }
  .media-list .vt-card-author{
    display: none;
  }
  .media-list .vt-card-excerpt{
    display: none;
  }

}

/* 桌面端样式增强 - 水平布局 */
/* @media (min-width: 769px) {
  .media-list.column-2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -10px;
  }
  .media-list.column-2 .vt-card-item{
    width: calc(50% - 10px);
    margin:0 10px 10px 0;
  }
  .media-list .vt-card-author{
    display: none;
  }
  .media-list .vt-card-excerpt{
    display: none;
  }

} */