/*
* 文章列表样式
*/
.media-list {
  box-sizing: border-box;
  margin: 0px 0px 0px 0;
}

.media-list .vt-card-item{
  margin: 8px 0px;
}

.media-list .vt-card-item:first-child{ margin-top: 0; }
.media-list .vt-card-item:last-child{ margin-bottom: 0; }

@media (min-width: 768px) {
  .media-list .vt-card-item{
    margin: 13px 0px;
  }

  .media-list.vt-column{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -10px;
  }
  .vt-column.vt-column-2 .vt-card-item{
    width: calc(50% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-3 .vt-card-item{
    width: calc(33.33% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-4 .vt-card-item{
    width: calc(25% - 10px);
    margin:0 10px 10px 0;
  }
  .vt-column.vt-column-5 .vt-card-item{
    width: calc(20% - 10px);
    margin:0 10px 10px 0;
  }
  .media-list.vt-column .vt-card-excerpt{
    display: none;
  }
  .media-list.vt-column .vt-card-stats .vt-user-post-stat-item:nth-child(2),
  .media-list.vt-column .vt-card-stats .vt-user-post-stat-item:nth-child(3){
    display: none;
  }
  

}