@import './variables.css';
@import './normalize.css';
@import './animation.css';
@import './common/common.css';
@import './common/form.css';
@import './common/button.css';
@import './common/pagination.css';
@import './common/content-style.css';
@import './common/bar.css';
@import './common/dialog.css';
@import './home/home.css';
@import './home/slider.css';
@import './home/hot.css';
@import './article-action.css';
@import './article.css';
@import './card.css';
@import './category.css';
@import './page.css';
@import './comments.css';
@import './header.css';
@import './footer.css';
@import './widget.css';
@import './container.css';
@import './banner.css';
@import './dark.css';

/*
Breakpoints 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px
2xl: 1536px
*/

