
.pagination {
  margin: 20px 0;
  text-align: center;
}

.user-no-content {
  text-align: center;
  padding: 40px 20px;
  color: var(--vt-text-color-grey);
}

.user-no-content img {
  width: 150px;
  height: auto;
  opacity: 0.7;
}

.user-no-content span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
}


.user-likes-list {
  position: relative;
}

.user-like-item {
  display: flex;
  border: 1px solid var(--vt-border-color);
  background-color: var(--vt-bg-color-card);
  border-radius: var(--vt-border-radius);
  padding: 15px;
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  margin-bottom: 15px;
  position: relative;
}

.user-like-thumbnail{
  display: none;
}

@media screen and (min-width:900px) {
  .user-like-thumbnail{
    display: block;
    width: 90px;
    aspect-ratio: 4 / 3;
    margin: 0 20px 0 0;
  }
  .user-like-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: var(--vt-border-radius);
    object-fit: cover;
  }
}

.like-item-body{
  display: flex;
  flex-direction: column;
}
.like-item-body .like-item-action {
  display: flex;
  margin-top: auto;
}

.like-item-body .like-item-action .like-action-item{
  font-size: 13px;
  margin: 0 20px 0 0;
  color: var(--vt-text-color-grey);
}

.like-edit-btn{
  position: absolute;
  top: 10px;
  right: 10px;
}


/**
 * overwrite
 */
.my-posts-container .user-like-item{
  min-height: 50px;
}

