/*
 * 用户中心
 */
.user-center-container {
  width: calc(100% - 16px);
  margin: 10px auto 10px auto;
}

.user-center-container::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.user-center-sidebar {
  width: calc(100% - 40px);
  width: 100%;
}

.user-center-sidebar > * {
  margin-top: 10px;
}

.user-center-sidebar > *:nth-child(1) {
  margin-top: 0;
}


@media only screen and (min-width:900px) {
  .user-center-container {
    width: 1200px;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: space-between;
  }
  .user-center-sidebar {
    width: 300px;
    float: left;
    margin-top: 0px;
  }
  .user-center-sidebar > * {
    margin-top: 20px;
  }
  .user-center-sidebar > *:nth-child(1) {
    margin-top: 0;
  }
}


/*****************************************************************************/

.user-wrapper {
  width: 100%;
}
.user-wrapper > div:last-child { margin-bottom: 0 !important; }

.user-center-panel {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  margin-top: 10px;
  background-color: var(--vt-bg-color-card);
  border-radius: var(--vt-border-radius);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  color: var(--vt-text-color);
  box-sizing: border-box;
}

.user-center-panel h3 {
  font-size: var(--vt-font-size-base);
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--vt-border-color);
  display: flex;
  align-items: center;
}

@media only screen and (min-width:900px) {
  .user-wrapper {
    width: 860px;
    margin-top: 0;
    font-size: 18px;
  }
  .user-center-panel {
    margin-top: 0;
    margin-bottom: 20px;
  }

}



/*****************************************************************************/


/* user profile */
.user-profile {
  width: 100%;
  height: 200px;
  color: var(--vt-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vt-bg-color-card);
  border-radius: var(--vt-border-radius);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
}

.user-profile .user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid var(--vt-bg-color);
  cursor: pointer;
}

.user-profile .user-avatar a.update-avatar-button {
  display: none;
}

.user-profile .user-avatar img.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile .user-info {
  width: auto;
  height: auto;
}

.user-profile .user-info .nickname {
  font-size: 16px;
  margin-top: 10px;
}


/*****************************************************************************/


/* user center nav */
.user-center-sidebar .user-nav {
  background-color: var(--vt-bg-color-card);
  border-radius: var(--vt-border-radius);
  padding: 20px;
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  display: flex;
  flex-wrap: wrap;
}

.user-nav a.sidebar-action {
  width: 25%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--vt-font-size-sm);
  padding: 25px 0 0 0;
  box-sizing: border-box;
}

.user-nav a.sidebar-action i {
  font-size: 25px;
}

.user-nav a.sidebar-action i:last-child {
  display: none;
}

.user-nav a.sidebar-action.active {
  color: var(--vt-color-primary);
}

.user-nav a.sidebar-action span { margin: 10px 0 0 0; }

@media only screen and (min-width:900px){
  .user-nav a.sidebar-action {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: var(--vt-font-size-base);
    padding-bottom: 0;
    padding: 11px 0;
  }
  .user-nav a.sidebar-action i {
    font-size: 20px;
    width: 25px;
  }
  .user-nav a.sidebar-action i:last-child {
    font-size: 16px;
    margin-left: auto;
    display: block;
    width: auto;
  }
  .user-nav a.sidebar-action span {
    margin-left: 10px;
    margin-top: 5px;
  }
}


/*****************************************************************************/


.user-no-content {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--vt-text-color-grey);
  margin-top: 100px;
}
.user-no-content img {
  width: 100px;
}
.user-no-content span {
  margin-top: 10px;
}


/*****************************************************************************/


.detail-widget {
  position: relative;
  font-size: 15px;
}

.detail-item{
  padding: 20px 0;
  line-height: 25px;
}
.detail-item > *{
  display: inline-block;
}

.detail-item .detail-label{
  min-width: 80px;
  color: var(--vt-text-color-grey);
}

.detail-item .private-note{
  font-size: 12px;
  clear: both;
}