.content-style {
  font-size: var(--vt-font-size-base);
  line-height: 32px;
}

.content-style a {
  font-size: var(--vt-font-size-base);
  color: var(--vt-color-primary);
}

.content-style img {
  max-width: 100%;
  margin: 5px 0px;
}

.content-style pre {
  line-height: 18px;
  font-size: 13px !important;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  padding: 12px;
  margin: 5px 0;
  border-radius: var(--vt-border-radius);
}

.content-style p {
  margin-top: 30px;
  overflow: hidden;
}

.content-style p:first-child {
  margin-top: 0px;
}

.content-style h1,
.content-style h2,
.content-style h3,
.content-style h4,
.content-style h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-style h1 { font-size: 25px; }
.content-style h2 { font-size: 22px; }
.content-style h3 { font-size: 18px; }
.content-style h4 { font-size: 16px; }
.content-style h5 { font-size: 10px; }

.content-style ul {
  list-style: inherit;
  padding-left: 25px;
  margin-bottom: 5px;
}

.content-style ol {
  list-style: decimal;
  padding-left: 25px;
  margin-bottom: 5px;
}

.content-style blockquote {
  padding: 15px;
  background-color: var(--vt-bg-color-grey);
  margin-top: 20px;
  color: var(--vt-text-color-grey);
  border-radius: var(--vt-border-radius);
}

.content-style blockquote::before {
  content: "\f10d";
  font-family: "Font Awesome 6 Free";
  font-size: 38px;
  color: var(--vt-color-primary);
}

.content-style .content-excerpt {
  padding: 15px;
  background-color: var(--vt-bg-color);
  margin-top: 20px;
  color: var(--vt-text-color-grey);
  border-radius: var(--vt-border-radius);
}

.content-style table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid var(--vt-border-color);
  margin-top: 10px;
}

.content-style table caption {
  color: var(--vt-text-color);
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.content-style table td,
.content-style table th {
  border-left: 1px solid var(--vt-border-color);
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

.content-style table thead {
  background-color: var(--vt-bg-color-grey);
  color: var(--vt-text-color);
  text-align: left;
  vertical-align: bottom;
}

.content-style table td,
.content-style table th {
  background-color: transparent;
  border-bottom: 1px solid var(--vt-border-color);
}

.content-style .hljs {
  /*background-color: transparent !important;*/
  white-space: pre-wrap;
}

.content-style .wp-caption {
  max-width: 100% !important;
}

.content-style .wp-caption img {
  margin-bottom: 0px !important;
}

.content-style .wp-caption .wp-caption-text {
  margin-top: 0px !important;
  font-size: var(--vt-font-size-sm) !important;
  color: var(--vt-text-color-grey);
  line-height: 15px !important;
}

.content-style hr {
  height: 1px;
  background-color: var(--vt-border-color);
  border: none;
  margin: 35px 0;
}