nav.pagination {
  font-size: 20px;
  border-top: 0px;
  border-bottom: 0px;
  padding: 20px 0 20px 0;
}

nav.pagination .nav-links {
  align-items: baseline;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 100;
  width: 100%;
  margin: 0 0 -7px 0;
}

nav.pagination .pagination-separator {
  margin: 16px 0;
}

nav.pagination .nav-links > * {
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid var(--vt-border-color);
  margin: 0px 7px 7px 0;
  display: block;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 1px var(--vt-shadow-color);
  padding: 1px 1px;
}

nav.pagination .nav-links > .current {
  background-color: var(--vt-color-primary);
  border-color: var(--vt-color-primary);
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px var(--vt-shadow-color);
}
.dark-mode nav.pagination .nav-links > .current { color: #b9b9b9; }

nav.pagination .nav-links .placeholder {
  display: none;
  visibility: hidden;
}

nav.pagination a {
  text-decoration: none;
  border-radius: 3px;
}

nav.pagination a:hover {
  color: var(--vt-color-primary);
  border-color: var(--vt-color-primary);
}

@media only screen and (min-width: 900px) {
  nav.pagination {
    padding: 20px 0 0 0;
  }
}
