.media-item {
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: var(--vt-font-size-base);
  display: flex;
  border-bottom: 1px solid var(--vt-border-color);
}

/*.media-item:hover .media-thumbnail img {
  transition: all 0.2s linear;
  transform: scale(1.03);
}*/

.media-item .media-thumbnail {
  flex-shrink: 0;
  width: 30%;
  margin-right: 15px;
}

.media-item .media-thumbnail a {
  display: block;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 0.7;
}

.media-item .media-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--vt-border-radius);
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.media-item .media-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(70% - 15px);
}

.media-body .media-title {
/*  display: flex;*/
/*  justify-content: flex-start;*/
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--vt-text-color);
  word-break: break-all;
}

.media-body .media-title .sticky {
  height: 16px;
  width: 30px;
  line-height: 16px;
  text-align: center;
  margin-right: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  font-size: 12px;
  background-color: var(--vt-color-primary);
  color: #fff;
  float: left;
  display: inline-block;
  position: relative;
  top: 3px;
}
.dark-mode .media-body .media-title .sticky { color: #b9b9b9; }

.media-body .media-title a {
  font-size: 19px;
  line-height: 25px;
}

.media-body .media-title a:hover { color: var(--vt-color-primary); }
.media-body .media-description { display: none; }
.media-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--vt-text-color-grey);
  font-size: 14px;
  margin-top: auto;
}

.media-box .author{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-box .author .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 4px 0 0;
  overflow: hidden;
}
.media-box .author img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-box a {
  font-size: 14px;
  color: var(--vt-text-color-grey);
}
.media-box a:hover{
  color: var(--vt-color-primary);
}

.media-box .meta-item { margin-right: 20px; }
.media-box .meta-item:last-child { margin-right: 0px; }
.media-box .meta-item i {
  font-size: 13px;
  margin: 0 2px 0 0;
}


@media only screen and (min-width: 900px) {
  .media-body .media-description{
    width:100%;
/*    word-wrap: break-word;*/
    overflow-wrap: break-word;
    display: block;
    line-height: 30px;
    font-size: 15px;
    color: var(--vt-text-color-grey);
    margin: 15px 0 0 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }



}

/*
@media only screen and (min-width: 900px) {
  .media-item .media-thumbnail {
    width: 200px;
    height: 138px;
  }
  .media-item .media-body {
    height: 140px;
    width: calc(100% - 215px);
    justify-content: flex-start;
  }
  .media-body .media-description {
    margin-top: 10px;
    line-height: 25px;
    display: -webkit-box;
  }
  .media-box {
    margin-top: auto;
  }
  .media-box .author{
    display: flex;
  }
  .media-box span.date {
    display: inline-block;
  }
}
*/