.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  box-sizing:border-box;
  // overflow: hidden;
}

.main-container::after {
  content: "";
  display: block;
  clear: both;
}

.main-container .main-widget{
  width: 100%;
}

.main-container .main-widget .header{
  font-size: var(--vt-font-size-base);
  margin-bottom: 15px;
}

.main-container .main-widget .posts-widget {
  width: 100%;
  margin-right: -8px;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}

.main-container .media-widget{
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
}

.main-widget > *{
  margin-bottom: 10px;
}


@media only screen and (min-width: 900px) {
  .main-container {
    width: 1200px;
    margin: 0 auto;
    padding:20px 0 0 0;
    display: flex;
    justify-content: flex-start;
  }
  .main-container::after {
    content: "";
    display: block;
    clear: both;
  }

  .main-container .main-widget > *{
    margin-bottom: 20px;
  }

  .main-container .main-widget{
    width: 880px;
  }

  .main-container .main-widget .header{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .main-container .main-widget .posts-widget {
    width: auto;
    margin-right: -20px;
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
  }

  .main-container .main-widget .posts-widget .card-item{
    width: calc(25% - 20px);
    flex: 0 0 calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .main-container .main-widget .posts-widget.col-num-3 .card-item{
    width: calc(33.33% - 20px);
    // flex: 0 0 calc(33.33% - 20px);
    width: 280px;
    flex: 0 0 auto;
  }
  .main-container .main-widget .posts-widget.col-num-4 .card-item{
    width: calc(25% - 20px);
    // width: 205px;
    flex: 0 0 auto;
  }
  .main-container .main-widget .posts-widget.col-num-5 .card-item{
    width: calc(20% - 20px);
    // width: calc(184px - 20px);
    flex: 0 0 auto;
  }
  .main-container .main-widget .posts-widget.col-num-6 .card-item{
    width: calc(16.66% - 20px);
    // width: calc(150px - 20px);
    flex: 0 0 auto;
  }

  
}



.sider > div {
  margin-bottom: 10px;
}

@media only screen and (min-width: 900px) {
  .sider{
    width: 300px;
    flex: 0 0 300px;
    margin-left: 20px;
    position:relative;
  }
  /* 最后一个模块粘性定位 */
  .sider .widget-container:last-child{
    position: sticky;
    top: 20px;
  }
  .sider > div {
    margin-bottom: 20px;
  }
}



@media only screen and (min-width: 900px) {
  .main-container[full-width]{}
  .main-container[full-width] .main-widget{ width: 100%; }
  .main-container[full-width] .sider{ display: none;}
}


