
/**
 * 文章页，文档页等 公共的点赞，收藏 模块
 */

.content-action{
  display: flex;
  margin-top: 20px;
  color: var(--vt-text-color-grey);
}
.content-action a{ color: var(--vt-text-color-grey); }
.widget-action{
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}
.widget-action.active{
  color:var(--vt-color-primary);
}
.widget-action .iconfont{
  font-size: 23px;
  position: relative;
  right: -2px;
}
.widget-action.share-poster i.iconfont{
  font-size: 20px;
}


/**
 * 分享卡片
 */
.share-dialog-widget{
  box-sizing: border-box;
  font-size: 18px;
  max-width: 100%;
  width: 400px;
  padding: 10px;
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 20px var(--vt-shadow-color);
  position: relative;
  color: var(--vt-text-color);
}
.share-dialog-widget .close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    color: var(--vt-text-color-grey);
}
.share-dialog-widget .close-button i.iconfont {
    font-size: 20px;
    font-weight: bold;
}
.share-dialog-widget .share-card{
  margin: 15px 0 0 0;
  position: relative;
  padding: 10px;
  z-index: -1;
}
.share-card .thumbnail {
  width: 100%;
  height: 0;
  padding: 0 0 61% 0;
  position: relative;
}
.share-card .thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.share-card .share-card-body h3{
  font-size: 20px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 10px 0 0 0;
  text-align: justify;
  line-height: 28px;
}
.share-card .share-card-body p{
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 10px 0 0 0;
  text-align: justify;
  line-height: 25px;
  color: var(--vt-text-color-grey);
}

.share-card .share-card-footer{
  display: flex;
  padding: 30px 0 0 0;
}
.share-card-footer .info{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.share-card-footer .info img{
  font-size: 13px;
  width: 160px;
  // height: 28px;
  margin: 0 0 0px 0;
  position: relative;
}
.share-card-footer #qrcode{
  width: 80px;
  height: 80px;
  margin-left: auto;
}
.share-card-footer #qrcode img{
  width: 100%;
  height: 100%;
}

.share-dialog-widget .top-layer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: var(--vt-text-color-grey);
}

.share-dialog-widget #poster{
  height: auto;
  width: auto;
  position: absolute;
  top: 25px;
  left: 10px;
}



/**
 * 投币
 */
.coin{ }
.coin .iconfont{ transform: scale(1.1); }
.coin-dialog-widget{
  box-sizing: border-box;
  font-size: 18px;
  max-width: 100%;
  // width: 400px;
  padding: 10px;
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 20px var(--vt-shadow-color);
  position: relative;
  color: var(--vt-text-color);
}

.coin-dialog-widget .coin-widget{
  display: flex;
  margin: 20px 0 0 0;
}
.coin-dialog-widget .coin-widget img{
  width: 160px;
  height: 160px;
}
.coin-dialog-widget .coin-info{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}



